<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrapped Images</title>
     <style>
            .myDiv {
            border: 5px outset black;
            background-color: lightblue;}
     </style>
</head>
<body>
<div class="myDiv" >
     <h1 align="center"> Successfully Scrapped All 10 Images</h1><br>
</div>
<div align="center" >
     <br>
     <img src = "{{image_name1}}" width=250 height=250>
     <img src = "{{image_name2}}" width=250 height=250>
     <img src = "{{image_name3}}" width=250 height=250>
     <img src = "{{image_name4}}" width=250 height=250>
     <img src = "{{image_name5}}" width=250 height=250>
     <img src = "{{image_name6}}" width=250 height=250>
     <img src = "{{image_name7}}" width=250 height=250>
     <img src = "{{image_name8}}" width=250 height=250>
     <img src = "{{image_name9}}" width=250 height=250>
     <img src = "{{image_name10}}" width=250 height=250>
</div>
</body>
</html>